 <ngx-charts-bar-vertical
      [view]="[700, 400]"
      [results]="data"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Pays"
      yAxisLabel="Population">
</ngx-charts-bar-vertical>

<ngx-charts-pie-chart
  [view]="[700, 400]"
  [results]="data"
  [legend]="true"
  [labels]="true"
  [doughnut]="false"
  [gradient]="false"
  legendTitle="Navigateurs"
  [labelFormatting]="labelFormatting">
</ngx-charts-pie-chart>
